<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <!-- optional -->
        <clear />
        <!-- optional -->
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- jonko time -->
        <add key="itds" value="https://nuget.intothedreamspring.com/v3/index.json" />
    </packageSources>
    
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="itds">
            <package pattern="Facepunch.*" />
            <package pattern="espeak-ng" />
        </packageSource>
    </packageSourceMapping>
</configuration>