<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>com.intothedreamspring.melondsds-libretro</string>
        <key>CFBundleExecutable</key>
        <string>melondsds_libretro</string>
        <key>CFBundlePackageType</key>
        <string>FMWK</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>MinimumOSVersion</key>
        <string>14.0</string>
    </dict>
</plist>